@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-size: 0.85rem;
  background-color: #06012f;
  background: radial-gradient(
    circle at 5% 25%,
    rgba(65, 7, 81, 1) 0%,
    rgba(4, 1, 46, 1) 100%
  );
  color: white;
  background-repeat: no-repeat;
  /* display: grid;
  grid-template-columns: 5rem auto;
  grid-template-rows: 3rem auto;
  grid-template-areas:
    "sidebar header"
    "sidebar main"; */
}

/* .header {
  grid-area: header;
}

.main {
  grid-area: main;
  overflow-y: scroll;
}

.sidebar {
  grid-area: sidebar;
}

.footer {
  grid-area: footer;
} */

a {
  display: block;
}

.gradient-text {
  background: -moz-linear-gradient(
    90deg,
    rgba(255, 93, 0, 1) 0%,
    rgba(238, 222, 130, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    rgba(255, 93, 0, 1) 0%,
    rgba(238, 222, 130, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    90deg,
    rgba(255, 93, 0, 1) 0%,
    rgba(238, 222, 130, 1) 100%
  );

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EEDE82', endColorstr='#FF5D00', GradientType=0 );

  /* ie 10+ */
  background: -ms-linear-gradient(
    90deg,
    rgba(255, 93, 0, 1) 0%,
    rgba(238, 222, 130, 1) 100%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    90deg,
    rgba(255, 93, 0, 1) 0%,
    rgba(238, 222, 130, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
